TEMA 4/TAREA-LMSG04/EJERCICIO 1/Medina_Garcia_David_impresoras.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:element name="impresoras">
      <xs:complexType>
        <xs:sequence>
           <xs:element name="impresora" maxOccurs="unbounded">
             <xs:complexType>
               <xs:sequence>
                  <xs:element name="marca" type="xs:string"/>
                  <xs:element name="modelo" type="xs:string"/>
                  <xs:element name="peso">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal"> 
                        <xs:fractionDigits value="2"/>
                        <xs:minExclusive value="0"/>
                      </xs:restriction>
                   </xs:simpleType>
                  </xs:element>
                 <xs:element name="tamaño" type="xs:string"  maxOccurs="unbounded"/>
                  <xs:element name="cartucho">
                    <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:pattern value="[C]\-[0-9]{2}[A-Z]{1,2}"/>
                      </xs:restriction>
                   </xs:simpleType>
                  </xs:element>
                 <xs:element name="enred" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="numSerie" type="xs:ID" use="required"/>
               <xs:attribute name="tipo" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="3 D"/>
                      <xs:enumeration value="láser"/>
                      <xs:enumeration value="tinta"/>
                    </xs:restriction>
                 </xs:simpleType>
                </xs:attribute>
               <xs:attribute name="compra" type="xs:positiveInteger"/>
             </xs:complexType>
           </xs:element>
         </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
