TEMA 4/TAREA-LMSG04/EJERCICIO 2/Medina_Garcia_David_torneo.dtd

<!ELEMENT torneo (participante)>
    <!ATTLIST torneo edicion CDATA #REQUIRED>
    <!ATTLIST torneo anteriorGanador CDATA #REQUIRED>
<!ELEMENT participante (nombre,edad,pais,cabezaDeSerie?)>
    <!ATTLIST participante codigo ID #REQUIRED>
    <!ATTLIST participante compañero IDREF #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT cabezaDeSerie (#PCDATA)>

